BasedOnStyle: LLVM
AlignArrayOfStructures: Left
PackConstructorInitializers: CurrentLine
AlignAfterOpenBracket: BlockIndent
BracedInitializerIndentWidth: 2
InsertNewlineAtEOF: true
ColumnLimit: 120
PointerAlignment: Left
IncludeBlocks: Regroup
ConstructorInitializerIndentWidth: 2
ReflowComments: true
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2
