Language: Cpp
BasedOnStyle: LLVM
PackConstructorInitializers: CurrentLine
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignEscapedNewlines: LeftWithLastLine
BracedInitializerIndentWidth: 2
SkipMacroDefinitionBody: true
InsertNewlineAtEOF: true
ColumnLimit: 120
PointerAlignment: Left
IncludeBlocks: Regroup
ConstructorInitializerIndentWidth: 2
ReflowComments: true
IndentCaseLabels: true
SpaceAfterTemplateKeyword: false

IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2

IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
    CaseSensitive:   true
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
    SortPriority:    0
