Language: Cpp
BasedOnStyle: LLVM
AllowAllParametersOfDeclarationOnNextLine: false
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: LeftWithLastLine
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
#AllowShortFunctionsOnASingleLine: Leave
BracedInitializerIndentWidth: 2
BinPackParameters: false
ContinuationIndentWidth: 2
ColumnLimit: 120
ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: CurrentLine
SkipMacroDefinitionBody: true
InsertNewlineAtEOF: true
PointerAlignment: Left
IncludeBlocks: Regroup
ReflowComments: true
IndentCaseLabels: true
SpaceAfterTemplateKeyword: false
SeparateDefinitionBlocks: Leave

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false

IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2

IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
    CaseSensitive:   true
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
    SortPriority:    0
